<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="">
        <title>SENG 513 Project</title>

        <link href="/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
        <link href="/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    </head>

    <body>
        <% if (typeof error !== 'undefined') { %>
            <div>
                <%= error %>
            </div>
        <% } %>


    <form action="/login<%= req.query.dest ? `?dest=${encodeURIComponent(req.query.dest)}` : '' %>" method="post">
        <div class="imgcontainer">
                <img src="/images/logo.png" alt="Logo" class="logo">
                </div>

                <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <button type="submit">Login</button>
                </div>

                <div class="container">
                <button type="button" class="btn btn-secondary" type="submit" data-toggle="modal" data-target="#registerModal">Register</button>
                </div>
    </form>

    <!-- Register Modal-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Create Account</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form method="POST" action="/newaccount">
                        <div class="modal-body">
                            <div class="form-label-group">
                                <input id="usernameInput" class="form-control" maxlength="30" required="required" autofocus="autofocus" name="username">
                                <label for="usernameInput">Username</label>
                            </div>
                            <div class="form-label-group">
                                <input id="passwordInput" class="form-control" maxlength="30" required="required" type="password" name="password">
                                <label for="passwordInput">Password</label>
                            </div>
                            <div class="form-label-group">
                                <input id="repasswordInput" class="form-control" maxlength="30" required="required" type="password">
                                <label for="repasswordInput">Confirm password</label>
                            </div>
                            <div class="form-label-group">
                                <input id="emailInput" class="form-control" maxlength="30" required="required" type="email" name="email">
                                <label for="emailInput">Email</label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button id="registerModalButton" class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>

    </body>
</html>
