<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SENG 513 Project</title>

        <link rel="stylesheet" type="text/css" href="/css/login.css">

        <script type="text/javascript" src="/js/login.js"></script>
    </head>
    <body>
        <h1>SENG 513 Project</h1>
        <p>Group Members:</p>
        <ul>
            <li>Aminah Farzana</li>
            <li>Jeffrey Rude</li>
            <li>Mitchell Sawatzky</li>
            <li>Alan Chun-Yiu Fung</li>
            <li>Xin Yan Xie</li>
        </ul>

        It works! <br>

        The server date is <code><%= time %></code>

        <img src="/images/logo.png"></img>
    </body>
</html>
