.sidebar-scroll{
    height: 100vh;
    overflow-y: auto;
}

.sidebar-selected{
    color: white;
    background-color: #0087A6;
}

@media (max-width: 768px){
    .fc-header-toolbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}